$yellow-color:rgba(255, 189, 89, 1);
$beige-light-color:rgb(190, 164, 149);
$beige-middle-color: rgb(165, 151, 142);
$beige-dark-color: rgb(123, 97, 82);
$rose-color:rgb(255, 248, 243);
$grey-color: rgb(250, 250, 250);
$black-color: rgba(0, 0, 0, 1);
$white-color: rgb(255, 255, 255);
$white-about-color:rgb(250, 250, 250);