.container {
  margin: 0 auto;
  max-width: 1182px;
  padding-left: 10px;
  padding-right: 10px;

  @include on1000 {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include on768 {
    max-width: 640px;
  }

  @include on640 {
    padding-left: 10px;
    padding-right: 10px;
  }
}